<div class="popup-exit">
    <div class="exit-content">
        <img class="pb-3" src="assets/paso/exit-icon.svg" alt="exit icon"/>
        <h2 class="header-content">Bạn muốn thoát khỏi trang?</h2>
        <p class="description-content">Thông tin bạn đã nhập sẽ không thể thay đổi. Vui lòng nhấn vào nút "Tiếp tục” để hoàn tất hồ sơ hoặc “Về trang chủ" để tìm hiểu thêm về sản phẩm.</p>
        <button class="btn btn-info"
                (click)="continue()">Tiếp tục</button>
        <button class="btn btn-go-home"
                (click)="goHome()">Về trang chủ</button>
    </div>
</div>
