.header-paso{
    height: 56px;
    .title-home{
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        margin-left: 10px;
    }
    .header-logo {
        max-width: 105px;
    }
    .senid-logo {
        padding-right: 12px;
        max-width: 115px;
    }
    .vpbank-logo {
        max-width: 115px;
        border-left: 1px solid #E2E2E2;
        padding-left: 10px;
    }
    .btn-support {
        width: 90px;
        font-weight: 600;
        color: #171717;
        background-color: #EBEBEB;
        border-radius: 10px;
        height: 38px;
        border: none;
        box-shadow: none;
        cursor: pointer;
    }
}
